body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .background-image { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("bg2.jpg");
    background-size: cover;
    z-index: -1; /* to ensure background stays behind content */
  }
  
  .resume-container {
    position: relative;
    width: 60%;
    margin-top: 20px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-left: 25%; /* Shift the container to the right */
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    text-align: center;
    z-index: 1; /* Ensure navbar stays above the container */
  }
  
  .resume-content {
    margin-left: 0; /* Remove the margin to align with the container */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    margin-bottom: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }

  nav ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Customize border color and thickness */
  }
  
  nav ul li:last-child {
    border-bottom: none; /* Remove border from last item to avoid unnecessary line */
  }
  
  
  header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 0;
  }
  
  h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  section {
    margin-bottom: 40px;
  }
  

  #education table thead tr {
    font-weight: bold;
    text-align: left;
  }

  #education table {
    border-collapse: collapse; /* Ensures borders don't double up */
  }
  
  #education table td,
  #education table th {
    border: 1px solid #ccc; /* Adjust border color and thickness as needed */
    padding: 10px; /* Add padding for better spacing */
  }